@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');

/** general styling **/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(182, 182, 182);
    font-family: 'Epilogue', sans-serif;
  }


.bigNav{
    background-color: rgb(73, 70, 77);
    height: 70px;
    align-content: center; 
    padding: 0 30px;  
}

.bigNavText{
    font-weight: bolder;
    font-size: xx-large;
    color: whitesmoke;
}

.bigNavIcon{
    font-size: larger;
    margin-bottom: -8px;
    color: rgb(216, 70, 70);
}

.start-upBtn{
    background-color: rgb(216, 70, 70);
    color: white;
    font-weight: bold;
}



.smallNav{
    background-color: grey;
    height: 50px;
    margin: 40px;
    border-radius: 12px;
    font-weight: bold;
    color: whitesmoke;
    padding: 12px 50px;
}

.breadcrumb{
    text-align: center;
    margin-left: 150px;
}

.breadcrumb-item > a{
    color: rgb(44, 14, 14);
}
.breadcrumb-item > a:hover{
    color: rgb(14, 77, 250);
}
.breadcrumb-item+.breadcrumb-item:before {
    color: #ffffff;
}



.smallBar{
    margin-bottom: 45px;
}

.miniIcon{
    font-size: 18px;
    margin-bottom: -3px;
}

.miniIconOthers{
    font-size: 22px;
    margin-bottom: -4px;
    color: rgb(44, 14, 14);
}

.wineColor{
    background-color: rgb(216, 70, 70);
    color: lavenderblush;
    font-weight: bolder;
}

th{
    font-weight: bolder;
    font-size: large;
    color: rgb(44, 14, 14);
}




 /** media queries for responsive interface **/
 /** tablet view **/
 @media (min-device-width: 764px) 
  and (max-device-width: 990px)
  and (-webkit-min-device-pixel-ratio: 1){
    body{
        margin: 0;
    }
    .bigNav{
        padding: 10px;
        display: flex;
        flex-direction: row;
    }

     .smallNav{        
        padding: 12px;
        height: auto;
    }

    .breadcrumb{
        margin-left: 1px;
    }

    .smallBar{
        margin-left: auto;
        margin-right: auto;
    }

  }


  /* Mobile devices view */

  @media only screen 
  and (min-device-width: 195px) 
  and (max-device-width: 664px)
  and (-webkit-min-device-pixel-ratio: 2){
    body{
        margin: 0;
    }
    .bigNav{
        padding: 10px;
        display: flex;
        flex-direction: row;
    }

    .bigNavText{
        font-size: 1.4em;
        color: whitesmoke;
    }
    .bigNavIcon{
        font-size: 28px;
        margin-bottom: -5px;
    }

    .smallNav{        
        margin: 20px 5px;
        border-radius: 12px;
        padding: 6px 6px;
        height: auto;
    }
    .breadcrumb{
        text-align: center;
        margin-left: 1px;
    }

    .bigBar{
        margin: 1px 2px;
    }



  }